/* AboutBawean.css */
.about-bawean-reason-title {
    color: #fff;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    margin-top: 0vw;
}

.about-bawean-title-extend {
    color: #4F709C;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    padding: 0px;
}

.about-bawean-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: transparent;
    margin-bottom: 0vw;
}

.about-bawean-title {
    margin-top: 10px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
}

.about-bawean-container {
    display: flex;
    flex-direction: row;
    background-color: #0a264c;
    border-radius: 20px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 60px;
}

.about-bawean-img-column {
    flex: 1;
    padding-right: -10px;
}

.about-bawean-img-column img {
    margin-top: -15px;
    width: 90%;
    height: auto;
    margin-left: 10px;
    max-width: 100%;
    display: block;
}

.about-bawean-text-column {
    flex: 1;
    margin-left: -30px;
    box-sizing: border-box;
}

.about-bawean-text-content {
    text-align: justify;
}

.about-bawean-text-content h2 {
    color: #F0F0F0;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    margin-right: 45px;
}

@media only screen and (max-width: 1000px) {
    .about-bawean-container {
        flex-direction: column;
        align-items: center;
    }

    .about-bawean-img-column, .about-bawean-text-column {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .about-bawean-container {
        padding: 15px;
    }

    .about-bawean-text-content {
        text-align: center;
    }
}