.blog-container{
    padding: 4rem;
    background: #fff;
}

.h1{
    text-align: center;
}

a, a:link, a:hover, a:visited, a:active { 
    text-decoration: none; 
}

.searchbox form{
    justify-content: center;
    display: flex;
}

.blog-card-container{
    display: grid;
    overflow: hidden;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px
}

.blog-card-wrapper {
    position: relative;
    margin: 50px 0 45px;
    overflow: hidden;
}
    
.blog-card {
    margin-bottom: 24px;
    display: flex;
    flex-flow: column;
}

.blog-cards-item {
    display: flex;
    flex: 1;
    margin: 0.5rem 1rem;
    border-radius: 10px;
}

.blog-card-link{    
    display: flex;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.blog-card-pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 20%;
    overflow: hidden;
}

.fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
}

.blog-card-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}

.blog-card-img:hover {
    transform: scale(1.1); 
}

.blog-card-info {
    padding: 20px 30px 30px;
    width: 80%;
}

.blog-card-title {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
}

.blog-card-author {
    color: #585a61;
    font-size: 14px;
    line-height: 20px;
}

.blog-card-published {
    color: #585a61;
    font-size: 14px;
    line-height: 20px;
}

.blog-card-desc{
    text-align: justify;
    padding: 15px 0px;
}


@media only screen and (min-width: 1200px) {
    .content__wisata__container {
        width: 84%;
    }
}
    
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .wisata-card {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}

@media only screen and (max-width:600px){
    .blog-card-link{
        flex-direction: column;
    }
    .blog-card-pic-wrap{
        padding-top: 80%;
    }
}
    
@media only screen and (max-width: 1024px) {
    .cards__item {
        margin-bottom: 2rem;
    }
}