.blog-post-container{
    padding: 4rem;
    background: #fff;
}

.blog-post-image-container{
    padding: 1rem 0rem 4rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height:75vh;
    background-color: #fff;
}

.blog-post-title{
    padding-bottom: 1rem;
}

.blog-post-author-container{
    padding-left: 10px;
    display: flex;
}

.blog-post-author{
    padding: 0px 10px;
}

.blog-post-published-container{
    padding-left: 10px;
    display: flex;
}

.blog-post-published{
    padding: 0px 10px;
}

.blog-post-image{
    object-fit: cover;
    display:block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}

.blog-post-paragraph{
    text-align: justify;
    padding-bottom: 90px;
}