.content{
    padding: 4rem;
    /* background: #EBEBD3; */
    background: #fff;
    align-items: center;
    justify-content: center;
}

.content-title{
    display: block;
    text-align: center;
}

.reason-title{
    padding: 0;
    padding-bottom: 16px;
    color: #fff;
    text-align: initial;
    font-size: 56px;
}

span.title-extend{
    color:#53d2dc ;
}

.content-container{
    display: flex;
    background-color: #779AAD;
    /* background-color: #395F7C; */
    border-radius: 12px;
    padding: 64px;
}

.img-container{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img{
    position: absolute;
    bottom: 0;
    right: 2rem;
    width: 500px;
    max-width: 40%;
    border-radius: 20px;
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}

.text-container{
}

.text-content{
    display: flex;
    text-align: justify;
    align-items: center;
}

.text-content h2{
    color: #fff;
    padding:10px;
    font-size: 24px;
    font-weight: 500;
}

.icon-circle{
    border-radius: 50%;
    position: relative;
    min-width:50px;
    min-height:50px;
    max-width: 50px;
    max-width: 50px;
}

.icon-number{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font: 32px Arial, sans-serif;
}

@media only screen and (max-width: 1000px){
    .img-container{
        display: none;
    }
    
    .text-container{
        width: 100%;
        text-align: center;
    }
    
}

@media only screen and (max-width: 500px){
    .img-container{
        display: none;
    }

    .text-content{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .text-container{
        width: 100%;
        text-align: center;
    }

    .content-container{
        padding: 25px;
    }
    
}