* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h1.title{
  color:#26648E;
  text-align: center;
  padding-bottom: 40px;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html{
  overflow-x: hidden;
}

.Home, .Wisata {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}